### Build ###
.gradle
build/
out/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store           # Mac OS
Thumbs.db           # Windows
desktop.ini         # Windows
*.swp               # Temporary files for vi/vim editors
*.swo

### Logs and Reports ###
*.log
**/logs/
**/debug.log
**/error.log
*.trace
*.pid
*.dmp

### Java ###
*.class
*.jar
*.war
*.ear
*.javadoc

### Maven ###
.mvn/
target/
*.m2/

### Gradle cache ###
.gradle/
*.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### Temporary Files ###
*.tmp
*.temp
*.bak
*.old

### Environment-specific ###
.env
.env.*             # For environment-specific files
